<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"gadzette-page","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull gadzette-page" style="margin-top:0"><!-- wp:group {"align":"wide","className":"gadzette-page__inner","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide gadzette-page__inner"><!-- wp:post-title {"level":1,"className":"gadzette-page__title"} /-->

<!-- wp:post-content {"className":"gadzette-page__content","layout":{"type":"constrained"}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
