<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"gadzette-single","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull gadzette-single" style="margin-top:0"><!-- wp:group {"align":"wide","className":"gadzette-single__inner","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide gadzette-single__inner"><!-- wp:post-terms {"term":"category","className":"gadzette-card-category"} /-->

<!-- wp:post-title {"level":1,"className":"gadzette-single__title"} /-->

<!-- wp:template-part {"slug":"post-meta"} /-->

<!-- wp:post-featured-image {"isLink":false,"sizeSlug":"large","className":"gadzette-single__image"} /-->

<!-- wp:post-content {"className":"gadzette-single__content","layout":{"type":"constrained"}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
